*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: pokemon-font;
    src: url(../assets/PKMNRBYGSC.woff2);
}

body{
    font-family: pokemon-font;
}

/* Pokedex card */
  
.circulo {
    position: absolute;
    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    z-index: 1;
}
  
.circulo-1 {
    top: -6px;
    left: -13px;
    height: 40px;
    width: 40px;
    filter: blur(1px);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6), 
    1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.circulo-2 {
    top: -11px;
    left: -13px;
    height: 50px;
    width: 170%;
    filter: blur(1px);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6), 
    1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
.circulo-3 {
    top: -18px;
    left: -13px;
    height: 65px;
    width: 150%;
    filter: blur(1px);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6), 
    1px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
  
.idpokemon{
    z-index: 2;
}

.texto-upper{
    text-transform: uppercase;
    text-align: center;
}
.card-title{
    font-size: 15px !important;
}
.tipoPokemon{
    font-size: 12px !important;
}